[project]
	description = Application notes for the F1 EC2 Instance
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jebtang
[access "refs/for/refs/*"]
	read = group user/jebtang
	push = group user/jebtang
	label-Code-Review = -2..+2 group user/jebtang
	label-Verified = -1..+1 group user/jebtang
	rebase = group user/jebtang
	removeReviewer = group user/jebtang
	submit = group user/jebtang
[access "refs/heads/*"]
	read = group user/jebtang
	create = group user/jebtang
	push = +force group user/jebtang
	pushMerge = group user/jebtang
[access "refs/tags/*"]
	push = group user/jebtang
	push = +force group user/jebtang
